# Ignore build residues
trinkets/buildgcc/_deps/ncurses/
trinkets/buildgcc/bin/
trinkets/buildgcc/obj/
trinkets/buildgcc/obj/arm64/bgcc.s
trinkets/buildgcc/obj/arm64/bgcc.i
trinkets/buildgcc/src/bgcc.lto_wrapper_args
trinkets/buildgcc/src/bgcc.ltrans_args
trinkets/buildgcc/src/bgcc.ltrans.out
trinkets/buildgcc/src/bgcc.ltrans0.ltrans_args
trinkets/buildgcc/src/bgcc.ltrans0.ltrans.args.0
trinkets/buildgcc/src/bgcc.ltrans0.ltrans.o
trinkets/buildgcc/src/bgcc.ltrans0.ltrans.s
trinkets/buildgcc/src/bgcc.ltrans0.o
trinkets/buildgcc/src/bgcc.o
trinkets/buildgcc/src/bgcc.o.debug.temp.o
trinkets/buildgcc/src/bgcc.res
trinkets/buildgcc/src/bgcc.s
trinkets/buildgcc/src/bgcc.wpa.args.0
trinkets/buildgcc/src/gmon.out
trinkets/buildgcc/src/bgcc.i
trinkets/buildgcc/src/bgcc
